/dist/
/CurrencyRatesREST/dist/
/StockExchangeRetainer/nbproject/private/
/CurrencyRatesRetainer/dist/
/CurrencyRatesRetainer/build/
/StockExchangeRetainer/build/
/StockExchangeRetainer/dist/
/CurrencyRatesRetainer/nbproject/private/
/ProjectUtils/nbproject/private/