/dist/
/CurrencyRatesREST/dist/
/StockExchangeRetainer/nbproject/private/
/CurrencyRatesRetainer/dist/
/CurrencyRatesRetainer/build/
/StockExchangeRetainer/build/
/StockExchangeRetainer/dist/
/CurrencyRatesRetainer/nbproject/private/
/ProjectUtils/nbproject/private/
/ProjectUtils/dist/
/ProjectUtils/build/
/CurrencyConvertor/dist/
/CurrencyConvertor 2/nbproject/private/
/CurrencyConvertor/build/
CurrencyConvertor/nbproject/private/private.xml
